<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
  @if (skeletonLoading) {
    @for (arr of [1, 2, 3]; track arr; let i = $index) {
      <div>
        <app-home-skeleton-ui />
      </div>
    }
  } @else {
    @for (blogInfo of blogData; track blogInfo; let i = $index) {
      <div
        class="group flex flex-col justify-between rounded-3xl border border-gray-200 bg-white p-6 shadow-sm transition-all duration-300 hover:-translate-y-2 hover:border-(--accent-color)/40 hover:shadow-xl"
        >
        <!-- Top -->
        <div class="space-y-4">
          <!-- Category Badge -->
          <!-- <div>
          <span
            class="rounded-full bg-(--accent-color)/10 px-3 py-1 text-xs font-medium text-(--accent-color)"
            >
            Latest
          </span>
        </div> -->
        <!-- Title -->
        <!-- text-xl -->
        <h3
          class="font-semibold leading-7 text-(--text-color) transition-colors duration-300 group-hover:text-(--accent-color) select-none"
          >
          {{ blogInfo.blogTitle }}
        </h3>
        <!-- Content -->
        <p class="text-sm leading-7 text-gray-600 line-clamp-4 select-none">
          {{ blogInfo.blogContent }}
        </p>
      </div>
      <!-- Bottom -->
      <div
        class="mt-6 flex items-center justify-between border-t border-gray-100 pt-4"
        >
        <!-- User -->
        <a
          class="flex items-center gap-3"
          [routerLink]="['/members', blogInfo.publicId]"
          >
          <img
              [src]="
                blogInfo?.userImageUrl ? blogInfo.userImageUrl : 'user.png'
              "
            loading="lazy"
            alt="User"
            class="h-11 w-11 rounded-full border-2 border-gray-200 object-cover"
            />
          <div>
            <p class="text-sm font-semibold text-(--text-color) select-none">
              {{ blogInfo.userName }}
            </p>
            <p class="text-xs text-gray-500 select-none">
              {{ blogInfo.createdAt | date : "dd MMM yyyy" }}
            </p>
          </div>
        </a>
        <!-- Read More -->
        <button
          class="rounded-full bg-(--accent-color)/10 px-4 py-2 text-xs font-semibold text-(--accent-color) transition-all duration-300 hover:bg-(--accent-color) hover:text-white"
          (click)="sendBlogId(blogInfo.blogId)"
          >
          Read →
        </button>
      </div>
    </div>
  }
}

</div>
