<!-- <app-main-header class="flex-9"> -->
<!-- </app-main-header> -->
<!--parent container-->
<main class="w-full flex justify-center">
  <!--
  [ngClass]="
      showUploadBlogContainer && showBlogContainer
        ? 'overflow-hidden'
        : 'overflow-auto'
    "
  -->
  <section
    class="lg:mx-10! my-5! flex max-lg:mx-4 flex-col gap-5 max-w-360 flex-1 mt-20!"
  >
    <!-- <ng-container *ngFor="let sectionData of completePageData; let i = index"> -->
    <app-short-blog-container
      [blogData]="blogData"
      [skeletonLoading]="skeletonLoading"
      (blogIdSender)="getBlogById($event)"
    >
    </app-short-blog-container>
    <!-- </ng-container> -->
  </section>
</main>
<!---->
<div
  *ngIf="showBlogContainer"
  class="p-15 h-full w-screen bg-(--text-color)/70 fixed lg:top-10! top-11! left-0 max-sm:p-3 max-sm:py-20 max-h-screen overflow-scroll"
>
  <app-blog-container
    [singleBlogData]="singleBlogData.data"
    (closeBlogContainer)="closeBlogContainer1($event)"
  />
</div>
