<div class="fixed bottom-5 right-5" *ngIf="showUploadBlogContainer == false">
  <app-add-blog-button (clicked)="UploadBlogContainerShower($event)" />
</div>
<div
  *ngIf="showUploadBlogContainer"
  class="p-15 h-screen w-screen bg-(--text-color)/30 absolute top-0 left-0 max-sm:p-3 max-sm:py-10"
>
  <app-upload-blog
    (showMainContainerOnScreen)="UploadBlogContainerShower($event)"
  />
</div>
<app-main-header class="flex-9">
  <!-- <div firstContent class="flex flex-2"></div> -->
  <!-- <div settingContainer>this is paragraph</div> -->
</app-main-header>
<!--parent container-->
<div
  class="lg:mx-10! my-5! flex max-lg:mx-4 flex-col gap-5"
  [ngClass]="
    showUploadBlogContainer && showBlogContainer
      ? 'overflow-hidden'
      : 'overflow-auto'
  "
>
  <ng-container *ngFor="let sectionData of completePageData; let i = index">
    <app-short-blog-container
      [containerHeading]="sectionData.containerName"
      [skeletonRendering]="sectionData.numberOfSkeletonRender"
      [blogData]="sectionData.blogData"
      [skeletonLoading]="sectionData.skeletonLoading"
      (blogIdSender)="getBlogById($event)"
    />
  </ng-container>
</div>
<div
  *ngIf="showBlogContainer"
  class="p-15 h-screen w-screen bg-(--text-color)/70 fixed top-0 left-0 max-sm:p-3 max-sm:py-5"
>
  <app-blog-container
    [singleBlogData]="singleBlogData"
    (closeBlogContainer)="closeBlogContainer1($event)"
  />
</div>
